{% extends "layout.html" %}

{% block body %}
<br><br>
    Welcome!!<br><br>
    {% if current_user.is_authenticated %}
        {% if posts %}
            {% for post in posts %}
            <article>
                <div > 
                    <a href="{{url_for('posts.author',author_id= post[5])}}">{{post[4]}}</a>
                </div>
                <div> 
                    {{post[3]}}
                </div>
                <div> 
                    <a href="{{url_for('posts.post', post_id=post[0])}}"><h3 style="display:inline;">{{post[1]}}</h3></a>
                </div>
                <div>
                    <p>{{post[2]}}</p>
                </div >
            </article>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock body %}
