{% extends "layout.html" %}

{% block body %}
<br><br>
    {% if current_user.is_authenticated %}
        {% if post %}
            <article style="width: 50%;">
                <div style="width: 100%;"> 
                    <a href="{{url_for('posts.author',author_id= post[5])}}">{{post[4]}}</a>
                </div>
                <div style="width: 100%;"> 
                    {{post[3]}}
                </div>
                <div style="width: 100%;"> 
                    <h3 >{{post[1]}}</h3>
                </div>
                <div style="width: 100%;">
                    <p>{{post[2]}}</p>
                </div >
                <a href="{{url_for('posts.update_post', post_id = post[0])}}">Update</a><br>
                <a href="{{url_for('posts.delete_post', post_id = post[0])}}">Delete</a>
            </article>
        {% endif %}
    {% endif %}
{% endblock body %}