{% extends "layout.html" %}
{% block body %}
<h1>Reset Password</h1>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        <div>
            {{form.password.label}}<br>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span>{{error}}</span><br>
                {%endfor%}
            {% endif %}
            {{form.password}}
        </div>
        <div>
            {{form.confirm.label}}<br>
            {% if form.confirm.errors %}
                    {% for error in form.confirm.errors %}
                        <span>{{error}}</span><br>
                    {%endfor%}
            {% endif %}
            {{form.confirm}}
        </div>
        <div>
            {{form.submit}}
        </div>
    </form>
{% endblock body %}