{% extends "layout.html" %}

{% block body %}
    <main class="home-posts">
    {% if current_user.is_authenticated %}
        {% if posts %}
            {% for post in posts %}
            <article class="post">
                <div class="header-post"> 
                    <a class="user-link" href="{{url_for('posts.author',author_id= post.author_id)}}">{{post.author.username}}</a>
                    {{post.date}}
                </div>
                <div> 
                    <a class="post-link" href="{{url_for('posts.post', post_id=post.id)}}"><h3 style="display:inline;">{{post.title}}</h3></a>
                </div>
                <div>
                    <p>{{post.content}}</p>
                </div >
            </article>
            {% endfor %}
        {% endif %}
    {% endif %}
    </main>
{% endblock body %}
