{% extends "layout.html" %}
{% block body %}

<form action="" method="POST" class="form">
    <h1>Email To Reset Password</h1>
    {{form.hidden_tag()}}
    <div>
        {% if form.email.errors %}
            {% for error in form.email.errors %}
            <span class="error">{{error}}</span><br>
            {%endfor%}
        {% endif %}
        {{form.email(class="input-form")}}
    </div>
    <div>
        {{form.submit(class="submit")}}
    </div>
</form>
{% endblock body %}