{% extends "layout.html" %}
{% block body %}
    <form action="" method="POST" class="form">
        <h1>Reset Password</h1>
        {{form.hidden_tag()}}
        <div class="input">
            {{form.password.label}}<br>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="error">{{error}}</span><br>
                {%endfor%}
            {% endif %}
            {{form.password(class="input-form")}}
        </div>
        <div class="input">
            {{form.confirm.label}}<br>
            {% if form.confirm.errors %}
                    {% for error in form.confirm.errors %}
                        <span class="error">{{error}}</span><br>
                    {%endfor%}
            {% endif %}
            {{form.confirm(class="input-form")}}
        </div>
        <div>
            {{form.submit(class="submit")}}
        </div>
    </form>
{% endblock body %}