{% extends "layout.html" %}

{% block body %}
<br><br>
<main class="user-post">
    {% if current_user.is_authenticated %}
        {% if post %}
            <article >
                <div class="header-post"> 
                    <a class="user-link" href="{{url_for('posts.author',author_id= post[5])}}">{{post[4]}}</a>
                    {{post[3]}}
                </div>
                <div> 
                    <h3 >{{post[1]}}</h3>
                </div>
                <div>
                    <p>{{post[2]}}</p>
                </div >
                <a class="edit-post" href="{{url_for('posts.update_post', post_id = post[0])}}">Update</a>
                <a class="edit-post" href="{{url_for('posts.delete_post', post_id = post[0])}}">Delete</a>
            </article>
        {% endif %}
    {% endif %}
</main>
{% endblock body %}